<template>
    <div>
        <form novalidate class="md-layout" @submit.prevent="submit">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Registration admin</div>
                </md-card-header>

                <md-card-content>
                    <md-field :class="getValidationClass('name')">
                        <label for="name">Name</label>
                        <md-input type="text" name="name" id="name" autocomplete="name" v-model="form.name" :disabled="isSubmitting" />
                        <span class="md-error" v-if="errors['name']">{{ errors['name'].join(',') }}</span>
                    </md-field>

                    <md-field :class="getValidationClass('email')">
                        <label for="email">Email</label>
                        <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="isSubmitting" />
                        <span class="md-error" v-if="errors['email']">{{ errors['email'].join(',') }}</span>
                    </md-field>

                    <md-field :class="getValidationClass('password')">
                        <label for="password">Password</label>
                        <md-input type="password" name="password" id="password" v-model="form.password" :disabled="isSubmitting" />
                        <span class="md-error" v-if="errors['password']">{{ errors['password'].join(',') }}</span>
                    </md-field>

                    <md-field :class="getValidationClass('password_confirmation')">
                        <label for="password_confirmation">Password</label>
                        <md-input type="password" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation" :disabled="isSubmitting" />
                        <span class="md-error" v-if="errors['password_confirmation']">{{ errors['password_confirmation'].join(',') }}</span>
                    </md-field>
                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="isSubmitting" />

                <md-card-actions>
                    <md-button type="submit" class="md-primary" :disabled="isSubmitting">Register</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</template>

<script>
    import {AdminRegistration} from "../models/auth";
    import {notify, NOTIFY_SUCCESS} from "../helpers";
    import {mapMutations} from "vuex";

    export default {
        data: () => ({
            errors: {},

            isSubmitting: false,

            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
            }
        }),

        methods: {
            ...mapMutations(['authenticateUser']),

            submit() {
                this.isSubmitting = true;

                AdminRegistration(this.form).then(response => {
                    if (response.isSuccess()) {
                        notify(NOTIFY_SUCCESS, 'You\'ve been successfully registered');
                        this.errors = {};

                        // this.authenticateUser({
                        //     token: '',
                        //     userIdentity: response.data.user,
                        // });

                        this.$router.push('/');
                    }

                    if (response.isValidationError()) {
                        this.errors = response.validationErrors();
                    }
                }).finally(() => {
                    this.isSubmitting = false;
                })
            },

            getValidationClass(field) {
                return this.errors[field] ? 'md-invalid' : '';
            }
        }
    }
</script>
