<template>
    <div class="page-container">
        <md-app>
            <md-app-toolbar class="md-primary">
                <span class="md-title">Test Task</span>
            </md-app-toolbar>

            <md-app-drawer md-permanent="full">
                <md-toolbar class="md-transparent" md-elevation="0">
                    Navigation
                </md-toolbar>

                <md-list>
                    <md-list-item>
                        <span class="md-list-item-text">
                            <router-link to="/">Index</router-link>
                        </span>
                    </md-list-item>

                    <md-list-item>
                        <span class="md-list-item-text">
                            <router-link to="/admin-registration">Registration admin</router-link>
                        </span>
                    </md-list-item>

                    <md-list-item>
                        <span class="md-list-item-text">
                            Logout
                        </span>
                    </md-list-item>
                </md-list>
            </md-app-drawer>

            <md-app-content>
                <router-view></router-view>
            </md-app-content>
        </md-app>
    </div>
</template>

<script>

    export default {
      name: 'App',
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
